<p>login works!</p>
<form [formGroup]="formGroup">
  <input formControlName="email" type="email" [placeholder]="" />
  <input formControlName="password" type="password" placeholder="" />
  <button (click)="login()">Login</button>
</form>
